# Virtual Environment
venv/

# Node.js
node_modules/
build/
dist/

# Django
db.sqlite3
/media/
/staticfiles/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor Configurations
.vscode/
.idea/


# Enforce LF line endings in the repository
* text=auto